$html: #dd4b25;
$css: #254bdd;
$scss: #c96195;
$bootstrap: #6c10ed;
$js: #efd81c;
$ts: #3178c6;
$jquery: #0865a6;
$react: #5ed3f3;
$vue: #3eaf7c;
$angular: #b9002d;
$i18n: #008e81;

$white: #fff;
$black: #000;

.language.html{
	background-color: $html;
	color: $white;
}
.language.css{
	background-color: $css;
	color: $white;
}
.language.scss{
	background-color: $scss;
	color: $white;
}
.language.js{
	background-color: $js;
	color: $white;
}
.language.ts{
	background-color: $ts;
	color: $white;
}
.language.jquery{
	background-color: $jquery;
	color: $white;
}
.language.react{
	background-color: $react;
	color: $white;
}
.language.vue{
	background-color: $vue;
	color: $white;
}
.language.angular{
	background-color: $angular;
	color: $white;
}
.language.i18n{
	background-color: $i18n;
	color: $white;
}